<!--// START: /cog/templates/common/cog_header.html //-->
{% load cog_utils %}


<div class="span-24 last" >
   <!--// first row of the header with user links-->
   <!--load top-right user menu from cog/common/_user_menu.html-->
   <table class="no-color">
       <tr>
           <td id="user_menu" style="text-align: right; padding:0; padding-right:2px; padding-bottom: 2px;">
	           {% include 'cog/common/_user_menu.html' %}
           </td>
       </tr>
       <tr>
       {% if project.logo %}
           <!-- height of the td is 70px to match the height w/o an image. The td will expand if the project logo is larger -->
           <!-- height of the project logo above the left nav bar is really controlled by the padding associated with the font-size
           and padding of the site node, since that is a different row. -->
           <td style="height: 70px; vertical-align: bottom;  padding:0; padding-left:2px; margin:0;"> <!--must use vertical-align: bottom-->
                <span>
                {% if project.logo_url %}
	    	         <a  href="{{ project.logo_url }}">
	    	    {% else %}
	    	         <a style="padding:0; margin:0;" href="{% url 'project_home' project.short_name|lower %}">
	    	    {% endif %}
                <img style="max-height: 150px; vertical-align: bottom;" src="{{ project.logo.url }}" alt="{{ project.short_name }} logo"/>
                </a>
                </span>
           </td>
	   {% else %}
           <!-- project title -->
           <!-- height must be same as logo td -->
           <!-- the negative bottom takes the text below the level of the table cell -->
           <td style="height: 70px; vertical-align: bottom; padding:0; padding-left: 2px; position:relative; font-weight: bold; font-size: 20pt; font-style: italic; color: #666666;">
			   <!--<span style="position:absolute; bottom: -10px;">-->
               <span style="position:absolute; bottom: 0;">
                   {{ project.long_name|capfirst }}
               </span>
           </td>
       {% endif %}
   </tr>
   <tr>
       <td style="padding:0; padding-bottom: 1px; padding-right: 2px; font-size: 12px; color: #666; text-align: right; font-style: italic;">
           You are at the <strong>{{site.name}}</strong> node
       </td>
   </tr>
   </table>
</div>

<!-- top navigation bar -->
<div class="span-24 last">
   <div class="top_nav" style="margin-bottom: 20px;">
       <div class="span-19">
	       <div class="top_nav_left">
		       {% if project %}
                   <div id="navigation" class="site-navigation">
                       <ul class="menu">
				           {% for tablist in project|getTopNav_2:request %}
                                {% if tablist|length > 1 %}
                                       {% for tab in tablist %}
                                           {% if forloop.counter == 1 %}
                                               <li class="menu_item"><a href="{{ tab.1 }}">{{ tab.0 }}</a>
                                                   <ul class="dropdown">
                                           {% else %}
                                                           <li class="menu-item sub-menu"><a href="{{ tab.1 }}"><span>{{ tab.0 }}</span></a></li>
                                           {% endif %}
                                       {% endfor %}
                                                   </ul>
                                               </li>
                                {% else %}
                                        {% for tab in tablist %}
                                               <li class="menu_item"><a href="{{ tab.1 }}">{{ tab.0 }}</a></li>
                                        {% endfor %}
                                {% endif %}
                           {% endfor %}

                       </ul>
                   </div>
		       {% endif %}
		   </div> <!--// end div id=top_nav_left //-->
	   </div> <!--//end div.span-19 //-->
	
	   <div  class="span-5 last">
		   <div id="top_nav_right">
               <span > <a style="display:inline-block; padding-top:6px;" href="https://www.earthsystemcog.org/projects/cog/contactus/">Technical Support</a></span>
		   </div> <!--//end div id=top_nav_right //-->
	   </div> <!--// end div.span-5 last //-->
   </div><!--// end div.top_nav -->
</div>

<div class="span-24 last">
      <!--add links to MyProfile and the DataCart-->

	      <div style="float:right;">
	          {% if request.user.is_authenticated %}
		           <a href="{% url 'user_profile_redirect' request.user.id %}">My Profile</a>
		               | <img src="{{STATIC_URL}}cog/img/datacart.png" height="20px" style="vertical-align:middle;" alt="datacart logo"/>
		           <a href="{% url 'datacart_display' site.id request.user.id %}">My Data Cart (<span id="datacart_size">{{ request.user.datacart.items.all|length }})</span>
		               </a>
	          {% endif %}
	      </div>

    <!-- anchor for message dialogs -->
  <div id="myDialog" class="yui-skin-sam"></div>
</div> <!--// end div.span-24 last //-->
&nbsp; <br>
<!--// END: /cog/templates/common/cog_header.html //-->



