{% extends "cog/common/layout_center.html" %} {% block extrahead %}
<!-- Bootstrap CSS styling-->
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<!-- Add CSS styling for the React component-->
{% for file in react_files.css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}{{ file }}" />
{%endfor%}
{% endblock %}

{% block main %}

<!-- The code below is for the React component-->
{% load cog_utils %}

<div id="cog-react">
  <!-- Contents get replaced by mounted React.Component -->
  <i class="fa fa-lg fa-spinner fa-spin"></i><br /><br />
  <i class="pending">Loading components...</i><br /><br />
</div>

<script>
  window.token = '{% csrf_token %}'
  window.props = {{react_props|json}};
  window.react_mount = document.getElementById("cog-react");
</script>

{% for file in react_files.js %}
<script src="{{ STATIC_URL }}{{ file }}"></script>
{% endfor %}
<!-- Optional map files for developer tools-->
{% for file in react_files.map %}
<script src="{{ STATIC_URL }}{{ file }}" type="application/json"></script>
{% endfor %}
{% endblock %}