{% extends "cog/common/layout_center.html" %}

{% block main %}

<h2>
Enter subscription information in the form below.
</h2>

<form name="userSubscribeForm" method=POST action="{{ url }}">
{% csrf_token %}

<table><tr><td>

<input style="padding-top:1px;padding-bottom:1px;margin-bottom: 7px; margin-top:7px;" 
                      type="text" id="subscription_key1" alt="Subscription Key 1" name="subscription_key1" size="30" value=""/>	
</td><td>
<input style="padding-top:1px;padding-bottom:1px;margin-bottom: 7px; margin-top:7px;" 
                      type="text" id="subscription_value1" alt="Subscription Value " name="subscription_value1" size="30" value=""/>	

</td></tr>

<tr><td>

<input style="padding-top:1px;padding-bottom:1px;margin-bottom: 7px; margin-top:7px;" 
                      type="text" id="subscription_key2" alt="Subscription Key 2" name="subscription_key2" size="30" value=""/>	
</td><td>
<input style="padding-top:1px;padding-bottom:1px;margin-bottom: 7px; margin-top:7px;" 
                      type="text" id="subscription_value2" alt="Subscription Value" name="subscription_value2" size="30" value=""/>	

</td></tr>

<tr><td>

<input style="padding-top:1px;padding-bottom:1px;margin-bottom: 7px; margin-top:7px;" 
                      type="text" id="subscription_key3" alt="Subscription Key" name="subscription_key3" size="30" value=""/>	
</td><td>
<input style="padding-top:1px;padding-bottom:1px;margin-bottom: 7px; margin-top:7px;" 
                      type="text" id="subscription_value3" alt="Subscription Value" name="subscription_value3" size="30" value=""/>	

</td></tr>
</table>


<input type="submit" value="Add Subscription Info"/>



</form>


{% endblock %}
